* {
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.containerRow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap
}
body {
  width:100%;
  height: auto;
  font-family: Verdana, sans-serif;
  color: rgb(100,100,100);
  margin:0 !important;
}

/* THESE RULES APPLY TO THE LOW REZ DISPLAY*/
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  display:inline;
  background-color: rgb(214, 119, 6);
  width: 100%;
  height: auto;
  padding: 3px;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
}
#nav{
  position: fixed;
  top:0;
  z-index: 1;
}
#footerNav{
  margin-top: 28px;
}

span a {
  padding: 3px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
header{
  width: 100%;
  height:auto;
  background-color:  rgb(0, 0, 0);
}
.logobox{
  width: 70%;
  height: auto;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 29px;
  border-radius: 7px;
  text-align: center;
  margin-top: 50px;
  color: #F0C54A;
  border:2px solid #F0C54A;
  padding: 15px;
}
#TopBanner{
  background-color: black;
  margin-top: 63px;
}
  input, .search {
    border-radius: 5px;
    width: 240px;
    height: 43px;
    margin-top: 35px;
    margin-bottom: 45px;
    border: 1px solid rgb(150,150,150);
    background: rgb(255,255,255) url(images/search.png) no-repeat 9px 9px;
    padding: 4px 4px 4px 30px;
  }
p{
  padding: 11px;
  text-align: center;
  font-size: 22px;
}

#herocontent p{
  font-size: 200%;
  padding: 18px;
  background-color: rgb(245, 242, 237);
  margin-top: -35%;
  width:100%;


}
.featuresSubtitle{
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
#features, #organize, #share{
padding: 22px;
border-top:33px solid rgb(47, 35, 17);
}
h2 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  font-size: 40px;
  text-align: center;
  margin-bottom:32px;
  margin-top: 9%;
  font-weight:normal;
  color:#047177;
  line-height: 120%;
}
#features div h3 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  line-height: 1.3;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  border-top:1px solid rgb(47, 35, 17);
  width: 100%;
  padding-top: 15px;
  color:black
}
#getIt h3{
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  line-height: 150%;
  font-size: 26px;
  font-weight:normal;
  color: #047177;
  text-align: center;
  padding: 0px 22px;
}
#hero{
  background-image: url(images/herobg1.jpg);
  background-color: #3c2a06; /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.heroimage{/* Moving image off its container */
  width: 95%;
  position: relative;
  top: -190px;

}
#hero h1 {
  font-size: 45px;
  margin-bottom: -10px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.75) ; /* Shadow */
  line-height: 120%;
  padding-bottom: 250px;
  }
#hero {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.75) ; /* Shadow */
  text-align:center;
}
.button {
  width: 50%;
  height: 65px;
  background: url(images/buttonbg.jpg);
  text-align: center;
  padding-top: 6px;
  border:  1px solid rgb(205,101,014);
  border-radius: 5px;
  /*All these shadows must be in a single line to work.!*/
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5), 0px 2px 0px 0px rgba(185, 91, 12, 1),inset 0px 1px 0px 0px rgba( 255,255,255,0.5);
  cursor: pointer; /* Important! To get the pointing hand over the button.*/
  margin-top: 7px;
  margin-bottom: 38px;

}
.button a {color: white; text-decoration: none; text-shadow: 2px, 2px, 2px 0px rgba(0,0,0,0.25);
font-size: 33px;
padding-bottom: 3%;
}
.button:hover {
  background: url(images/buttonbg_o.jpg);
}
#features div img, #organize img, #share img{
  width:100%;
  height:auto;
}
#getIt .button{
  width: 80%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}
.button img{
  width: 45%;
  height:auto;
}


@media only screen and (min-width: 768px){

  .container #threeFeatures{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 15px;
  }
  #feature1, #feature2, #feature3{
    width:33.33%;
    padding: 15px;
  }
  #feature1, #feature3{
    background-color: rgba(242, 242, 242, 0.75);

  }
#features div h3{
  border-top: 0px;
}
h2{
  margin-bottom:12px;
  margin-top: 4%;
}


}
